[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flexx = "*"

[dev-packages]
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-bandit" = "*"
"flake8-import-order" = "*"
"flake8-tidy-imports" = "*"

[requires]
python_version = "3.6"

[scripts]
lint = "python -m flake8"
compile = "python compile.py"
compile-dev = "python compile.py --url 'ws://localhost:5000/gateway/'"
